body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}

h1,
h2,
h3,
h4,
ul,
blockquote,
p,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
