.introducao-bg {
  background: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px;
  gap: 0px 40px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao img {
    width: 100%;
    height: 300px;
  }
}
