body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 2000px;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  font-family: "Poppins";
  font-weight: 400;
  padding: 16px 0;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background-color: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: #2e2e23;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.introducao-bg {
  background-color: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px rgb(255, 255, 255);
}

.introducao {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px;
  gap: 0px 40px;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao a {
  font-family: "Poppins";
  font-weight: 600;
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao-conteudo a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }

  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background-color: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}