.bicicletas-bg:nth-child(3) {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 30%,
    rgb(0, 0, 0) 0%
  );
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  border-radius: 4px 0px 0px 4px;
  background-color: var(--cor-12);
  display: block;
  padding: 8px 16px 8px 8px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 20px;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas ul {
  display: grid;
  gap: 16px;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas-bg:nth-child(3) {
    background: var(--cor-0);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-column: 1fr;
  }

  .bicicletas ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicicletas a {
    place-self: start;
  }
}
